@page "/statuses/{StatusId}/applications/{ApplicationId}"

@attribute [Authorize(Roles = "Admin, Organiser")]

@inject IDataService data
@inject NavigationManager navigate

<PageTitle>Анкета</PageTitle>

<div class="block">
    <div class="block-title">
        <div class="title-direction">
            <div class="block-title-text">
                Анкета "@ApplicationId"
            </div>
            <div class="text-direction">
                <Icon Name="IconName.ArrowLeft" Size="IconSize.x2" @onclick="async () => await Back()" type="button" />
            </div>
        </div>
    </div>

</div>

@code {
    [Parameter]
    public string? StatusId { get; set; }
    [Parameter]
    public string? ApplicationId { get; set; }

    async Task Back()
    {
        await Task.Run(() => navigate.NavigateTo($"/statuses/{StatusId}/applications#"));
    }
}
