@page "/feedback"

@inject IDataService data
@inject NavigationManager NavigationManager
@using ServerApp.Data.Entities
<PageTitle>Обратная связь</PageTitle>

<div class="block-group">
    <div class="block-title">
        <div class="block-title-text">Обратная связь</div>
        <div class="form-text">Здесь вы можете оставить нам сообщение</div>
    </div>
    <EditForm Model="feedback" OnValidSubmit="HandleOnValidSubmit" class="block-content-text">
        <DataAnnotationsValidator />

        <div class="form-text">Ваше имя</div>
        <div class="form-input w-100 mb-3">
            <ValidationMessage For="@(() => feedback.Name)" />
            <InputText class="form-control" @bind-Value="feedback.Name" />
        </div>

        <div class="form-text">Электронная почта</div>
        <div class="form-input w-100 mb-3">
            <ValidationMessage For="@(() => feedback.Email)" />
            <InputText class="form-control" @bind-Value="feedback.Email" />
        </div>

        <div class="form-text">Ваше сообщение</div>
        <div class="form-input w-100 mb-3">
            <ValidationMessage For="@(() => feedback.Message)" />
            <InputTextArea class="form-control" @bind-Value="feedback.Message" />
        </div>

        <div class="d-flex justify-content-center">
            <Button Type="ButtonType.Submit"
                    Color="ButtonColor.Primary">
                Отправить
            </Button>
        </div>
    </EditForm>
</div>

@code {
    private FeedBack feedback = new();

    private async Task HandleOnValidSubmit()
    {
        await data.SaveFeedbackAsync(feedback);
        NavigationManager.NavigateTo("/");
    }
}
