@page "/"

<PageTitle>Конкурс на соискание премий в области научно-педагогической и научно-исследовательской деятельности</PageTitle>

<div class="block-group">
    <div class="intro-background">
        <div class="container intro">
            <div class="intro-title">Конкурс на соискание премий 2024</div>
            <div class="intro-text">в области научно-педагогической и научно-исследовательской деятельности</div>
        </div>
    </div>

    <ContestInfo />

    <VotingInfo />

    <ParticipantInfo />
</div>