@page "/"
@rendermode InteractiveServer
@inject IDataService service

<PageTitle>Home</PageTitle>

@if (user == null)
{
    <p>Loading ...</p>
}
else
{
    <Card>
        <CardBody>
            <p>@user.Name - @user.Username</p>
        </CardBody>
    </Card>
}

@code {
    UserInfo? user;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        user = await service.GetCurrentUserInfoAsync();
    }
}