@page "/"
@rendermode InteractiveServer
@inject IDataService service

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>
<CardGroup>
    @foreach (var user in users)
    {
        <Card>
            <CardBody>
                <p>@user.Name - @user.Username</p>
            </CardBody>
        </Card>
    }
</CardGroup>

@code {
    IEnumerable<UserInfo> users = [];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        users = await service.GetUserInfosAsync();
    }
}