@page "/"
@using ServerApp.Data.Entities

@inject IDataService data

<PageTitle>Конкурс на соискание премий в области научно-педагогической и научно-исследовательской деятельности</PageTitle>

<div class="block-group">
    <div class="intro-background">
        <div class="container intro">
            <div class="intro-title">Конкурс на соискание премий 2024</div>
            <div class="intro-text">в области научно-педагогической и научно-исследовательской деятельности</div>
        </div>
    </div>
    
    @if (deadlineParticipant != null)
    {
        <ContestInfo deadlineFirst="deadlineParticipant" deadlineSecond="deadlineVoting" />

        <VotingInfo />

        <ParticipantInfo deadline="deadlineParticipant"/>
    }
</div>

@code
{
    private Deadline deadlineParticipant;
    private Deadline deadlineVoting;
    
    protected override async Task OnInitializedAsync()
    {
        deadlineParticipant = await data.GetDeadlineAsync("Прием заявок");
        deadlineVoting = await data.GetDeadlineAsync("Голосование");
    }
}
