@page "/voting/category/{TrackId}/{CategoryId}/participant/{ParticipantId}"

@using ServerApp.Data.Models.VoteModel

@inject IDataService data
@inject NavigationManager navigate

<PageTitle>Кандидат</PageTitle>

<div class="block">
    <div class="block-title">
        <div class="title-direction">
            <div class="block-title-text">@participant.Id</div>
            <div class="text-direction">
                <Icon Name="IconName.ArrowLeft" Size="IconSize.x2" @onclick="async () => await Back()" type="button" />
            </div>
        </div>
    </div>
    <AuthorizeView>
        <NotAuthorized>
            <Button Color="ButtonColor.Primary"
                    Class="w-100"
                    @onclick="NavToLogin">
                Проголосовать
            </Button>
        </NotAuthorized>
        <Authorized>
            <Button Color="ButtonColor.Primary"
                    Class="w-100"
                    Disabled="participant.IsVoteOfThisApplication"
                    @onclick="Vote">
                Проголосовать
            </Button>
        </Authorized>
    </AuthorizeView>
</div>

@code {
    [Parameter]
    public string? TrackId { get; set; }

    [Parameter]
    public string? CategoryId { get; set; }

    [Parameter]
    public string? ParticipantId { get; set; }

    VoteModel participant = default!;

    protected override async Task OnInitializedAsync()
    {
        if (Guid.TryParse(ParticipantId, out var participantId))
        {
            participant = await data.GetVoteModelAsync(participantId);
        }
    }

    async Task Back()
    {
        await Task.Run(() => navigate.NavigateTo($"/voting/category/{TrackId}/{CategoryId}#"));
    }

    async Task Vote()
    {
        await data.CastVoteAsync(participant.Id);
        participant.IsVoteOfThisApplication = true;
    }

    private void NavToLogin()
    {
        navigate.NavigateTo($"account/login?returnUrl={Uri.EscapeDataString(navigate.Uri)}", forceLoad: true);
    }
}
