@page "/review"

@attribute [Authorize(Roles = "Admin, Organiser")]

@inject IDataService data
@inject NavigationManager navigate

<PageTitle>Список заявок</PageTitle>

<div class="block">
    <div class="block-title">
        <div class="block-title-text">
            Список заявок на участие
        </div>
    </div>
    <div style="align-items: flex-start; overflow: auto;">
        @if (isLoading)
        {
            <div class="d-flex justify-content-center">
                <Spinner Color="SpinnerColor.Primary" />
            </div>
        }
        else if (participants == null || !participants.Any())
        {
            <p>Нет данных для отображения.</p>
        }
        else
        {
            <Grid TItem="UserInfoModel"
                  Class="table-filter"
                  FiltersRowCssClass="filters-row"
                  HeaderRowCssClass="header-row"
                  DataProvider="UserDataProvider"
                  FiltersTranslationProvider="GridFiltersTranslationProvider"
                  AllowFiltering="true"
                  AllowPaging="true"
                  PageSize="8"
                  AllowSorting="true"
                  Responsive="true"
                  AllowRowClick="true"
                  OnRowClick="OnRowClick">
                <GridColumn TItem="UserInfoModel"
                            HeaderText="ФИО кандидата"
                            PropertyName="FullName"
                            SortKeySelector="item => item.FullName">
                    @context.FullName
                </GridColumn>
                <GridColumn TItem="UserInfoModel"
                            HeaderText="Номер телефона"
                            PropertyName="PhoneNumber"
                            SortKeySelector="item => item.PhoneNumber">
                    @context.PhoneNumber
                </GridColumn>
                <GridColumn TItem="UserInfoModel"
                            HeaderText="Электронная почта"
                            PropertyName="Email"
                            SortKeySelector="item => item.Email">
                    @context.Email
                </GridColumn>
            </Grid>
        }
    </div>
</div>

@code {
    private UserInfoModel[] participants;
    private bool isLoading = true;

    protected override async Task OnInitializedAsync()
    {
        participants = await data.GetUserInfosModelsAsync();
        isLoading = false;
        StateHasChanged();
    }

    private async Task<GridDataProviderResult<UserInfoModel>> UserDataProvider(GridDataProviderRequest<UserInfoModel> request)
    {
        // Проверяем, что participants не null
        var data = participants ?? Array.Empty<UserInfoModel>();
        return await Task.FromResult(request.ApplyTo(data));
    }

    private async Task<IEnumerable<FilterOperatorInfo>> GridFiltersTranslationProvider()
    {
        var filtersTranslation = new List<FilterOperatorInfo>
        {
            // number/date/boolean
            new("=", "Равно", FilterOperator.Equals),
            new("!=", "Не равно", FilterOperator.NotEquals),
            // number/date
            new("<", "Меньше", FilterOperator.LessThan),
            new("<=", "Меньше или равно", FilterOperator.LessThanOrEquals),
            new(">", "Больше", FilterOperator.GreaterThan),
            new(">=", "Больше или равно", FilterOperator.GreaterThanOrEquals),
            // string
            new("*a*", "Включает", FilterOperator.Contains),
            new("a**", "Начинается с", FilterOperator.StartsWith),
            new("**a", "Заканчивается на", FilterOperator.EndsWith),
            new("=", "Равно", FilterOperator.Equals),
            // common
            new("x", "Очистить фильтр", FilterOperator.Clear)
        };

        return await Task.FromResult(filtersTranslation);
    }

    private async Task OnRowClick(GridRowEventArgs<UserInfoModel> row)
    {
        await data.SetApplicationStatusReviewProcessAsync(row.Item.Id);
        await Task.Run(() => navigate.NavigateTo($"/review/application/{row.Item.Id.ToString()}"));
    }
}

