@page "/voting/category/{TrackId}/{CategoryId}"

@inject IDataService data
@inject NavigationManager navigate

<PageTitle>Кандидаты</PageTitle>

<div class="block-group">
    <div class="block">
        <div class="block-title">
            <div class="title-direction">
                <div class="block-title-text">@track?.Name</div>
                <div class="text-direction">
                    <Icon Name="IconName.ArrowLeft" Size="IconSize.x2" @onclick="async () => await Back()" type="button" />
                </div>
            </div>
            <div class="block-subtitle-text">@category?.Name</div>
            <div class="form-text">
                Выберите кандидата для голосования
            </div>
            <input type="text" class="form-control" placeholder="Поиск по ФИО, учебному заведению или институту" @bind="searchQuery" @oninput="OnSearchInput" />
        </div>

        <div class="d-flex flex-wrap justify-content-center gap-2">
            @if (filtredApplications is not null)
            {
                @if (filtredApplications.Any())
                {
                    @foreach (var app in filtredApplications)
                    {
                        <ApplicationCard Application="app" OnClick="async () => await ViewApplication(app.Id)" />
                    }
                }
                else
                {
                    <div class="d-flex justify-content-center">
                        Не найдены кандидаты
                    </div>
                }
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <Spinner Color="SpinnerColor.Primary" />
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? TrackId { get; set; }

    [Parameter]
    public string? CategoryId { get; set; }

    TrackModel track = default!;
    CategoryModel category = default!;
    ApplicationCardModel[]? applications;

    string searchQuery = string.Empty;
    ApplicationCardModel[]? filtredApplications;

    protected override async Task OnParametersSetAsync()
    {
        if (Guid.TryParse(TrackId, out var trackId) && Guid.TryParse(CategoryId, out var categoryId))
        {
            track = await data.GetTrackAsync(trackId);
            category = await data.GetCategoryAsync(categoryId);
            applications = await data.GetApplicationCardModelsAsync(trackId, categoryId);
            filtredApplications = applications;
        }
    }

    async Task Back()
    {
        await Task.Run(() => navigate.NavigateTo("/voting#"));
    }

    async Task ViewApplication(Guid appId)
    {
        await Task.Run(() => navigate.NavigateTo($"/voting/category/application/{appId}#"));
    }

    private void OnSearchInput(ChangeEventArgs e)
    {
        searchQuery = e.Value?.ToString() ?? string.Empty;
        FilterApplications();
    }

    private void FilterApplications()
    {
        if (string.IsNullOrWhiteSpace(searchQuery))
        {
            filtredApplications = applications;
        }
        else
        {
            var searchWords = searchQuery.Split(' ', StringSplitOptions.RemoveEmptyEntries);

            filtredApplications = applications!.Where(app =>
                searchWords.All(word =>
                    (app.FullName != null && app.FullName.Contains(word, StringComparison.OrdinalIgnoreCase)) ||
                    (app.WorkPlace != null && app.WorkPlace.Contains(word, StringComparison.OrdinalIgnoreCase)) ||
                    (app.Faculty != null && app.Faculty.Contains(word, StringComparison.OrdinalIgnoreCase)))).ToArray();
        }
    }
}