@page "/voting/category/{TrackId}/{CategoryId}"

@using ServerApp.Data.Models.EditModel
@using ServerApp.Data.Models.VoteModel

@inject IDataService data
@inject NavigationManager navigate

<PageTitle>Голосование</PageTitle>

<div class="block-group">
    <div class="block">
        <div class="block-title">
            <div class="title-direction">
                <div class="block-title-text">@track.Name</div>
                <div class="text-direction">
                    <Icon Name="IconName.ArrowLeft" Size="IconSize.x2" @onclick="async () => await Back()" type="button" />
                </div>
            </div>
            <div class="block-subtitle-text">@category.Name</div>
            <div class="form-text">
                Выберите кандидата для голосования
            </div>
            <input type="text" class="form-control" placeholder="Поиск по названию" @bind="searchQuery" @oninput="OnSearchInput" />
        </div>

        <div class="d-flex flex-wrap justify-content-center gap-2">
            @if (filtredParticipants is not null)
            {
                @if (filtredParticipants.Any())
                {
                    @foreach (var participant in filtredParticipants)
                    {
                        <ParticipantCard Participant="participant" OnClick="async () => await ViewParticipant(participant.Id)" />
                    }
                }
                else
                {
                    <div class="d-flex justify-content-center">
                        Не найдены кандидаты
                    </div>
                }
            }
            else
            {
                <div class="d-flex justify-content-center">
                    <Spinner Color="SpinnerColor.Primary" />
                </div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string? TrackId { get; set; }

    [Parameter]
    public string? CategoryId { get; set; }

    TrackModel track = default!;
    CategoryModel category = default!;
    ListItemModel[]? participants;

    string searchQuery = string.Empty;
    ListItemModel[]? filtredParticipants;

    protected override async Task OnParametersSetAsync()
    {
        if (Guid.TryParse(TrackId, out var trackId) && Guid.TryParse(CategoryId, out var categoryId))
        {
            track = await data.GetTrackAsync(trackId);
            category = await data.GetCategoryAsync(categoryId);
            participants = await data.GetListForVotingPageAsync(trackId, categoryId);
            filtredParticipants = participants;
        }
    }

    async Task Back()
    {
        await Task.Run(() => navigate.NavigateTo("/voting#"));
    }

    async Task ViewParticipant(Guid participantId)
    {
        await Task.Run(() => navigate.NavigateTo($"/voting/category/{TrackId}/{CategoryId}/participant/{participantId}#"));
    }

    private void OnSearchInput(ChangeEventArgs e)
    {
        searchQuery = e.Value?.ToString() ?? string.Empty;
        FilterParticipant();
    }

    private void FilterParticipant()
    {
        if (string.IsNullOrWhiteSpace(searchQuery))
        {
            filtredParticipants = participants;
        }
        else
        {
            filtredParticipants = participants!.Where(p =>
                (p.FullName != null && p.FullName.Contains(searchQuery, StringComparison.OrdinalIgnoreCase)) ||
                (p.WorkPlace != null && p.WorkPlace.Contains(searchQuery, StringComparison.OrdinalIgnoreCase)) ||
                (p.Faculty != null && p.Faculty.Contains(searchQuery, StringComparison.OrdinalIgnoreCase))).ToArray();
        }
    }
}