@using ServerApp.Data.Models.ReviewModel
@inject IDataService data

@if (MarkBlocks is not null && MarkBlocks.Any())
{
    <div>
        <ul class="nav nav-tabs">

            @foreach (var block in MarkBlocks)
            {
                <li class="nav-item">
                    <button class="nav-link @(block.Id == SelectedMarkBlockId ? "active" : "")" @onclick="async () => await BlockChange(block.Id)">
                        @block.Name
                    </button>
                </li>
            }
        </ul>
    </div>
}

@code {
    [Parameter]
    public Guid? SelectedMarkBlockId { get; set; }

    [Parameter]
    [EditorRequired]
    public IEnumerable<MarkBlockModel>? MarkBlocks { get; set; }

    [Parameter]
    [EditorRequired]
    public EventCallback<Guid?> OnBlockChanged { get; set; }

    private async Task BlockChange(Guid? blockId)
    {
        await OnBlockChanged.InvokeAsync(blockId);
    }
}