@inject IDataService data

<div>
    <ul class="nav nav-tabs">
        @foreach (var block in EditBlocks)
        {
            <li class="nav-item">
                <button class="nav-link @(block.Id == SelectedEditBlockId ? "active" : "")" @onclick="async () => await BlockChange(block.Id)">
                    @block.Name
                </button>
            </li>
        }
    </ul>
</div>

@code {
    [Parameter]
    public Guid? SelectedEditBlockId { get; set; }

    [Parameter]
    [EditorRequired]
    public IEnumerable<EditBlockModel> EditBlocks { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public EventCallback<Guid?> OnBlockChanged { get; set; }

    private async Task BlockChange(Guid? blockId)
    {
        await OnBlockChanged.InvokeAsync(blockId);
    }
}