@inject IDataService data

<div>
    <ul class="nav nav-tabs">
        @foreach (var block in Model!.EditBlocks)
        {
            <li class="nav-item">
                <button class="nav-link @(block.Id == Model.SelectedEditBlockId ? "active" : "")" @onclick="() => SelectBlock(block.Id)">
                    @block.Name
                </button>
            </li>
        }
    </ul>
    @if (Model.SelectedEditBlockId != null)
    {
        <div class="tab-content">
            <EditForm Model="Model.Inputs" OnValidSubmit="SubmitForm">
                <DataAnnotationsValidator />
                <ValidationSummary />
                @foreach (var fld in Model.Inputs)
                {
                    <label>@fld.Name</label>
                    <InputText @bind-Value="fld.Value"></InputText>
                }
                <Button Type="ButtonType.Submit">Сохранить</Button>
            </EditForm>
        </div>
    }
</div>

@code {
    [Parameter]
    [EditorRequired]
    public DemoEditModel? Model { get; set; } = default!;

    protected override void OnParametersSet()
    {
        SelectBlock(Model!.SelectedEditBlockId);
    }

    private async Task SelectBlock(Guid? blockId)
    {
        if (Model == null) return;

        Model.SelectedEditBlockId = blockId ?? Model.EditBlocks.FirstOrDefault()!.Id;

        Model.Inputs = await data.GetInputsModelByEditBlockId(blockId, Model.ApplicationId);
    }

    void SubmitForm()
    {

    }
}