.circle-stage {
    display: flex;
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background: #7A78FC;
    align-items: center;
}

.circle-stage-number {
    padding-left: 5vh;
    font-size: 200px;
    color: #fff;
}

.circle-stage-title {
    color: #000000;
    font-family: "Inter-ExtraBold", sans-serif;
    font-size: 24px;
    font-weight: 800;
    position: relative;
    align-self: stretch;
}

.stages-competition {
    display: flex;
    padding: 1rem;
}

.content-column {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    text-align: center;
}