@page "/account/access-denied"

<PageTitle>Отказано в доступе</PageTitle>

<div class="form-layout">
    <div class="form-title text-danger">Отказано в доступе</div>
    <div class="text-center text-danger">У вас нет доступа к этому ресурсу.</div>
</div>
