@page "/account/forgot-password"
@using ServerApp.Services;
@inject IMailService MailService
@inject UserManager<ApplicationUser> UserManager
@inject IEmailSender<ApplicationUser> EmailSender
@inject NavigationManager NavigationManager
@inject IdentityRedirectManager RedirectManager

<PageTitle>Восстановление пароля</PageTitle>

<EditForm Model="Input" FormName="forgot-password" OnValidSubmit="OnValidSubmitAsync" method="post" class="form-layout">
    <p class="form-title">Введите почту для восстановления</p>

    <DataAnnotationsValidator />

    <div class="form-input">
        <ValidationMessage For="() => Input.Email" class="text-danger" />
        <InputText @bind-Value="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Электронная почта" />
    </div>
    <div class="form-buttons">
        <Button Type="ButtonType.Submit"
                Color="ButtonColor.Primary">
            Сбросить пароль
        </Button>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm]
    private InputModel Input { get; set; } = new();

    private async Task OnValidSubmitAsync()
    {
        var user = await UserManager.FindByEmailAsync(Input.Email);
        if (user is null || !(await UserManager.IsEmailConfirmedAsync(user)))
        {
            // Don't reveal that the user does not exist or is not confirmed
            RedirectManager.RedirectTo("account/forgot-password-confirmation");
        }
        else if (! await UserManager.IsEmailConfirmedAsync(user))
        {
            NavigationManager.NavigateTo("/");
        }
        DateTimeOffset lastSendDate = user.LastEmailSentDate;

        var timeSinceLastSend = DateTimeOffset.Now - lastSendDate;
        Console.WriteLine(timeSinceLastSend);
        if (timeSinceLastSend >= TimeSpan.FromHours(3))
        {
            //save parametrs
            user.LastEmailSentDate = DateTimeOffset.Now;
            await UserManager.UpdateAsync(user);
            var code = await UserManager.GeneratePasswordResetTokenAsync(user);
            code = WebEncoders.Base64UrlEncode(Encoding.UTF8.GetBytes(code));
            var callbackUrl = NavigationManager.GetUriWithQueryParameters(
                NavigationManager.ToAbsoluteUri("account/reset-password").AbsoluteUri,
                new Dictionary<string, object?> { ["code"] = code });

            string htmlBody = $@"
            <div class='text-left' style='font-family: Arial, sans-serif; padding: 20px;'>
                Здравствуйте, уважаемый участник всеросийского конкурса Педагог Года!<br><br>

                Вы только что запросили восстановление на сайте
                <a href='https://google.com' style='color: blue; text-decoration: underline;'>клик</a>.

                Чтобы восстановить данные аккаунта перейдите
                <a href='{callbackUrl}' style='color: blue; text-decoration: underline;'>по ссылке клик</a>.<br><br>

                На это письмо не нужно отвечать, так как оно создано автоматически и предназначено только для уведомления.<br><br>
                <hr style='border: 1px solid #ccc; margin: 20px 0;'>
                В случае, если Вы считаете, что письмо поступило ошибочно - проигнорируйте его.<br
            </div>";


            await MailService.SendEmailAsync(Input.Email, "Восстановление пароля на Педагог Года", htmlBody);

            RedirectManager.RedirectTo("account/forgot-password-confirmation");
        }
    }

    private sealed class InputModel
    {
        [Required(ErrorMessage = "Необходимо указать адрес электронной почты")]
        [EmailAddress(ErrorMessage = "Указан некорректный адрес электронной почты")]
        public string Email { get; set; } = "";
    }
}
