@inherits LayoutComponentBase

<NavMenu />

<body>
    <div class="container">
        <div class="start" id="start"></div>
        @Body
    </div>
    <Footer />
</body>

<Toasts class="p-3" AutoHide="true" Delay="3000" Placement="ToastsPlacement.BottomRight" />

<Preload LoadingText="Загрузка..."/>

<div id="blazor-error-ui">
    Произошла необработанная ошибка.
    <a href="" class="reload">Перезагрузить</a>
    <a class="dismiss">🗙</a>
</div>
