@page "/admin"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Identity

@* @attribute [Authorize(Roles = "ADMIN, PARTICIPANT")] *@

<PageTitle>Административная панель</PageTitle>

<div class="block">
    <div class="block-title">
        <div class="block-title-text">
            Панель настройки
        </div>
    </div>
    <div class="block-content">
        <div class="d-flex flex-row gap-2 mb-2 justify-content-center">
	        <a type="button" class="btn btn-primary" href="/admin/users">Пользователи</a>
	        <a type="button" class="btn btn-primary" href="/admin/roles">Роли</a>
            <a type="button" class="btn btn-primary" href="/admin/tracks">Tracks</a>
	        <a type="button" class="btn btn-primary" href="/admin/editblocks">EditBlocks</a>
	        <a type="button" class="btn btn-primary" href="/admin/markblocks">MarkBlocks</a>
	        <a type="button" class="btn btn-primary" href="/admin/marks">Marks</a>
        </div>
		<div class="d-flex flex-row gap-2 mb-2 justify-content-center">
			<a type="button" class="btn btn-primary" href="/admin/valuestype">ValueTypes</a>
			<a type="button" class="btn btn-primary" href="/admin/selectvalues">SelectValues</a>
			<a type="button" class="btn btn-primary" href="/admin/fields">Fields</a>
			<a type="button" class="btn btn-primary" href="/admin/tables">Tables</a>
			<a type="button" class="btn btn-primary" href="/admin/columns">Columns</a>
		</div>
    </div>
</div>