@page "/admin/columns"

<PageTitle>Настройка Columns</PageTitle>

<div class="block">
    <div class="block-content">
        @if (columns != null)
        {
            <Card class="w-100">
                <CardHeader>Columns</CardHeader>
                <CardBody>
                    <div class="d-flex flex-column gap-3">
                        <input type="text" class="form-control" placeholder="Поиск по названию" @bind="searchQuery" @oninput="OnSearchInput" />

                        <div class="table-container">
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="p-2">Название Column</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (filteredColumns.Any())
                                    {
                                        @foreach (var column in filteredColumns)
                                        {
                                            <tr>
                                                <td class="p-2">
                                                    <div class="d-flex justify-content-between">
                                                        <div style="width: 94%;">
                                                            @column.Name
                                                        </div>
                                                        <div>
                                                            <Icon Color="IconColor.Secondary" Name="IconName.PencilFill" type="button" @onclick="() => GoTo(column.Id)" />
                                                            <Icon Color="IconColor.Danger" Name="IconName.X" type="button" @onclick="() => ShowConfirmationAsync(column)" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="2" class="text-center">Не найдено</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </CardBody>
            </Card>
        }
        <div class="d-flex flex-row gap-2 mt-2 mb-2 justify-content-center w-100">
            <a type="button" class="btn btn-primary" href="/admin/columns/new">Добавить</a>
            <a type="button" class="btn btn-secondary" href="/admin">Назад</a>
        </div>
    </div>
</div>

<ConfirmDialog @ref="dialog" />

@code {
    IEnumerable<Column> columns = default!;
    IEnumerable<Column> filteredColumns = new List<Column>();

    string searchQuery = string.Empty;

    private ConfirmDialog? dialog;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        columns = await data.Column.GetAllAsync();
        filteredColumns = columns;
    }

    private void OnSearchInput(ChangeEventArgs e)
    {
        searchQuery = e.Value?.ToString() ?? string.Empty;
        FilterTables();
    }

    private void FilterTables()
    {
        if (string.IsNullOrEmpty(searchQuery))
        {
            filteredColumns = columns;
        }
        else
        {
            filteredColumns = columns.Where(c => c.Name != null && c.Name.Contains(searchQuery, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }

    private async Task ShowConfirmationAsync(Column column)
    {
        var options = new ConfirmDialogOptions
            {
                IsVerticallyCentered = true,
                NoButtonText = "Отменить",
                YesButtonText = "Удалить",
                YesButtonColor = ButtonColor.Danger,
            };
        var confirmation = await dialog!.ShowAsync(
            title: "Подтвердите действие",
            message1: "Это действие нельзя будет отменить.",
            message2: "Хотите удалить запись из базы данных?",
            confirmDialogOptions: options);

        if (confirmation)
        {
            await data.Column.RemoveAsync(column);
            // columns = await data.Column.GetAllAsync();

            toastService.Notify(new(ToastType.Warning, "Запись удалена"));
        }
    }

    void GoTo(Guid id)
    {
        navigation.NavigateTo($"/admin/columns/{id}");
    }
}
