@page "/admin/marks/{Id:guid}"
@page "/admin/marks/new"

<PageTitle>Настройка Mark</PageTitle>

<div class="block">
    <div class="block-title">
        <div class="block-title-text">
            Редактирование Mark
        </div>
    </div>
    <div class="block-content">
        <EditForm Class="w-100" Model="mark" OnValidSubmit="OnValidSumbit">
            <div class="form-text">Номер Mark</div>
            <div class="form-input w-100 mb-3">
                <InputNumber class="form-control" placeholder="Введите номер Mark" @bind-Value="mark.Number" disabled="@(mark.Id != Guid.Empty)" />
            </div>
            <div class="form-text">Название Mark</div>
            <div class="form-input w-100 mb-3">
                <InputText class="form-control mb-3" placeholder="Введите название Mark" @bind-Value="mark.Name" />
            </div>

            <div class="form-text form-input mb-3 text-end">
                Mark выставляется автоматически:
                <InputCheckbox class="darker-border-checkbox form-check-input mt-0" @bind-Value="mark.IsAuto" />
            </div>
            <div class="form-text">Максимальное значение Mark</div>
            <div class="form-input w-100 mb-3">
                <InputNumber class="form-control" placeholder="Введите максимальное значение Mark" @bind-Value="mark.MaxValue" />
            </div>

            <div class="table-container">
                <table class="table table-hover table-bordered table-striped">
                    <thead>
                        <tr>
                            <th class="p-2">MarkBlocks</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var markBlock in markBlocks)
                        {
                            <tr>
                                <td class="p-2">
                                    <div class="d-flex justify-content-between">
                                        <label class="form-check-label" for="@markBlock.Id-@mark.Id">
                                            @markBlock.Name
                                        </label>
                                        <div>
                                            <input class="form-check-input" type="checkbox" id="@markBlock.Id-@mark.Id"
                                                   @bind="markBlockSelections[mark.Id][markBlock.Id!]" />
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            <div class="d-flex flex-row gap-2 mt-2 mb-2 justify-content-center w-100">
                <Button Color="ButtonColor.Success" Type="ButtonType.Submit">Сохранить</Button>
                <a type="button" class="btn btn-secondary" href="/admin/marks">Назад</a>
            </div>
        </EditForm>
    </div>
</div>

@code {
    [Parameter]
    public Guid Id { set; get; }
    Mark mark = new();

    IEnumerable<MarkBlock> markBlocks = Enumerable.Empty<MarkBlock>();
    Dictionary<Guid, Dictionary<Guid, bool>> markBlockSelections = new();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        if (Id != Guid.Empty)
        {
            mark = await data.Mark.GetByIdAsync(Id);
        }

        markBlocks = await data.MarkBlock.GetAllAsync();
        if (!markBlockSelections.ContainsKey(mark.Id))
        {
            markBlockSelections[mark.Id] = markBlocks.ToDictionary(block => block.Id!, block => mark.MarkBlocks!.Any(b => b.Id == block.Id));
        }
    }

    async Task OnValidSumbit()
    {
        if (markBlockSelections.TryGetValue(mark.Id, out var blockSelection))
        {
            mark.MarkBlocks = markBlocks.Where(b => blockSelection.TryGetValue(b.Id!, out bool selected) && selected).ToList();
        }

        await data.Mark.SaveAsync(mark);
        if (!markBlockSelections.ContainsKey(mark.Id))
        {
            markBlockSelections[mark.Id] = markBlocks.ToDictionary(block => block.Id!, block => mark.MarkBlocks!.Any(b => b.Id == block.Id));
        }

        navigation.NavigateTo("/admin/marks");
    }
}
