@page "/admin/marks"

@inject IAdminService data
@inject NavigationManager navigation

<PageTitle>Настройка оценок</PageTitle>

<div class="block">
    <div class="block-content">
        @if (marks != null)
        {
            <Card class="w-100">
                <CardHeader>Оценки</CardHeader>
                <CardBody>
                    <div class="d-flex flex-column gap-3">
                        <input type="text" class="form-control" placeholder="Поиск по названию" @bind="searchQuery" @oninput="OnSearchInput" />

                        <div class="table-container">
                            <table class="table table-hover table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th class="p-2">Название оценки</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (filteredMarks.Any())
                                    {
                                        @foreach (var mark in filteredMarks)
                                        {
                                            <tr>
                                                <td class="p-2">
                                                    <div class="d-flex justify-content-between">
                                                        <div style="width: 94%;">
                                                            @mark.Name
                                                        </div>
                                                        <div>
                                                            <Icon Color="IconColor.Secondary" Name="IconName.PencilFill" type="button" @onclick="() => GoTo(mark.Id)" />
                                                            <Icon Color="IconColor.Danger" Name="IconName.X" type="button" @onclick="() => RemoveMark(mark)" />
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="2" class="text-center">Не найдено</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </CardBody>
            </Card>
        }
        <div class="d-flex flex-row gap-2 mt-2 mb-2 justify-content-center w-100">
            <a type="button" class="btn btn-primary" href="/admin/marks/new">Добавить</a>
            <a type="button" class="btn btn-secondary" href="/admin">Назад</a>
        </div>
    </div>
</div>

@code {
    IEnumerable<Mark> marks = default!;
    IEnumerable<Mark> filteredMarks = new List<Mark>();

    string searchQuery = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        marks = await data.GetMarksAsync();
        filteredMarks = marks;
    }

    private void OnSearchInput(ChangeEventArgs e)
    {
        searchQuery = e.Value?.ToString() ?? string.Empty;
        FilterMarks();
    }

    private void FilterMarks()
    {
        if (string.IsNullOrEmpty(searchQuery))
        {
            filteredMarks = marks;
        }
        else
        {
            filteredMarks = marks.Where(m => m.Name != null && m.Name.Contains(searchQuery, StringComparison.OrdinalIgnoreCase)).ToList();
        }
    }

    async Task RemoveMark(Mark mark)
    {
        await data.RemoveMarkAsync(mark);
        marks = await data.GetMarksAsync();

        StateHasChanged();
    }

    void GoTo(Guid id)
    {
        navigation.NavigateTo($"/admin/marks/{id}");
    }
}
