@page "/admin/tracks"

<PageTitle>Настройка Tracks</PageTitle>

<div class="block">
    <div class="block-content">
        @if (tracks != null)
        {
            <Card class="w-100">
                <CardHeader>Tracks</CardHeader>
                <CardBody>
                    <div class="table-container">
                        <table class="table table-hover table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th class="p-2">Название Track</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var track in tracks)
                                {
                                    <tr>
                                        <td class="p-2">
                                            <div class="d-flex justify-content-between">
                                                @track.Name
                                                <div>
                                                    <Icon Color="IconColor.Secondary" Name="IconName.PencilFill" type="button" @onclick="() => GoTo(track.Id)" />
                                                    <Icon Color="IconColor.Danger" Name="IconName.X" type="button" @onclick="() => RemoveTrack(track)" />
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </CardBody>
            </Card>
        }
        <div class="d-flex flex-row gap-2 mt-2 mb-2 justify-content-center w-100">
            <a type="button" class="btn btn-primary" href="/admin/tracks/new">Добавить</a>
            <a type="button" class="btn btn-secondary" href="/admin">Назад</a>
        </div>
    </div>
</div>

@code {
    IEnumerable<Track> tracks = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        tracks = await data.Track.GetAllAsync();
    }
    async Task RemoveTrack(Track track)
    {
        await data.Track.RemoveAsync(track);
        tracks = await data.Track.GetAllAsync();

        StateHasChanged();
    }

    void GoTo(Guid id)
    {
        navigation.NavigateTo($"/admin/tracks/{id}");
    }
}
