<div class="block">
    <div class="block-title">
        <div class="block-title-text">
            О конкурсе
        </div>
    </div>
    <div class="block-content">
        <div class="block-content-text">
            <p>
                Тюменский индустриальный университет проводит в 2024 году конкурс по присуждению премий в области научно-педагогической и научно-исследовательской деятельности по следующим направлениям:
                <ul>
                    <li>07.00.00 Архитектура</li>
                    <li>08.00.00 Техника и технологии строительства</li>
                    <li>2.1 Строительство и архитектура</li>
                    <li>13.00.00 Электро- и теплоэнергетика</li>
                    <li>21.00.00 Прикладная геология, горное дело, нефтегазовое дело и геодезия</li>
                    <li>2.8 Недропользование и горные науки</li>
                </ul>
            </p>
            <p>
                В конкурсе могут принять участие:
                <ul>
                    <li>аспиранты, адъюнкты, ординаторы, ассистенты-стажеры и работники высших учебных заведений, отраслевых и академических институтов, работники сектора промышленности (исследователи), осуществляющие научно-исследовательскую и/или научно-педагогическую деятельность, не имеющие ученой степени;</li>
                    <li>докторанты и работники высших учебных заведений, отраслевых и академических институтов, работники сектора промышленности (исследователи), осуществляющие научно-исследовательскую и/или научно-педагогическую деятельность, имеющие ученую степень кандидата наук и/или доктора наук;</li>
                    <li>работники высших учебных заведений, отраслевых и академических институтов, – лица, занимающие штатные научные и(или) педагогические должности в высших учебных заведениях, отраслевых и академических институтах;</li>
                    <li>исследователи – работники, профессионально занимающиеся исследованиями и разработками и непосредственно осуществляющие создание новых знаний, продуктов, методов и систем, а также управление указанными видами деятельности.</li>
                </ul>
            </p>
        </div>
    </div>
    <Button Type="ButtonType.Link"
            Color="ButtonColor.Primary"
            To="/about#">
        Узнать больше
    </Button>
    <div class="block-content">
        <div class="block-content-photo" style="background-image: url('img/Teacher.jpg');"></div>
    </div>
</div>

@code {

}
