@using ServerApp.Data.Entities
@inject NavigationManager navigation

<div class="block">
    <div class="block-title">
        <div class="block-title-text">
            Для участников
        </div>
    </div>
    <div class="block-content">
        <div class="block-content-text">
            <p>Для подачи заявки необходимо в установленные сроки зарегистрироваться на данном портале, заполнить соответствующие поля электронной формы и приложить необходимые документы.</p>

            <p>Каждый участник конкурса может подать <strong>не более одной заявки</strong> в одно из направлений деятельности. Не принимаются заявки от авторских коллективов.</p>

            <p>
                Срок и время приема заявок: с @TimeOnly.FromDateTime(startDeadline.DateTime) МСК @DateOnly.FromDateTime(startDeadline.Date)
                до @TimeOnly.FromDateTime(endDeadline.DateTime) МСК @DateOnly.FromDateTime(endDeadline.Date) (включительно).
            </p>

            @* <p>
                Порядок проведения конкурса, подачи и оценки заявок, подведения итогов регламентированы и отражены в
                <a href="#">Порядке проведения конкурса на соискание премий в области научно-педагогической и научно-исследовательской деятельности</a>
            </p> *@
        </div>
    </div>
    @if (dateNow <= endDeadline)
    {
        <AuthorizeView>
            <NotAuthorized>
                <Button Type="ButtonType.Link"
                        Color="ButtonColor.Primary"
                        @onclick="ShowConfirmationAsync">
                    Подать заявку на участие
                </Button>
            </NotAuthorized>
            <Authorized>
                <Button Type="ButtonType.Link"
                        Color="ButtonColor.Primary"
                        To="/application-form#">
                    Подать заявку на участие
                </Button>
            </Authorized>
        </AuthorizeView>
    }
    else
    {
        <Button Outline="true"
                Color="ButtonColor.Danger"
                Disabled="true">
            Прием заявок завершен
        </Button>    
    }
    
    <div class="block-content">
        <div class="block-content-photo" style="background-image: url('img/Participant.jpg');"></div>
    </div>
</div>

<ConfirmDialog @ref="dialog" />

@code {
    [Parameter]
    public Deadline deadline { get; set; }
    private ConfirmDialog? dialog;

    DateTimeOffset startDeadline = new();
    DateTimeOffset endDeadline = new();
    DateTimeOffset dateNow = new();

    protected override async Task OnInitializedAsync()
    {
        dateNow = DateTimeOffset.UtcNow.ToOffset(TimeSpan.FromHours(3));
        if (deadline != null)
        {
            startDeadline = deadline.Start;
            endDeadline = deadline.End;
        }       
    }

    private async Task ShowConfirmationAsync()
    {
        var options = new ConfirmDialogOptions
            {
                IsVerticallyCentered = true,
                NoButtonText = "Нет",
                YesButtonText = "Да",
            };
        var confirmation = await dialog!.ShowAsync(
            title: "Подтвердите действие",
            message1: "Для подачи заявки на участие необходима авторизация на сайте.",
            message2: "Перейти на страницу авторизации?",
            confirmDialogOptions: options);

        if (confirmation)
        {
            navigation.NavigateTo("/application-form#");
        }
    }
}