<div class="block">
    <div class="block-title">
        <div class="block-title-text">
            Для участников
        </div>
    </div>
    <div class="block-content">
        <div class="block-content-text">
            <p>Для подачи заявки необходимо в установленные сроки зарегистрироваться на данном портале, заполнить соответствующие поля электронной формы и приложить необходимые документы.</p>

            <p>Каждый участник конкурса может подать не более одной заявки по направлению научно-педагогической деятельности и не более одной заявки по направлению научно-исследовательской деятельности. Не принимаются заявки от авторских коллективов.</p>

            <p>
                Срок и время приема заявок: с 9 часов 00 минут МСК ДД.ММ, ГГГГ до 24 часов 00 минут МСК ДД.ММ, ГГГГ (включительно).
            </p>

            <p>
                Порядок проведения конкурса, подачи и оценки заявок, подведения итогов регламентированы и отражены в
                <a href="#">Порядке проведения конкурса на соискание премий в области научно-педагогической и научно-исследовательской деятельности</a>
            </p>
        </div>
    </div>
    <Button Type="ButtonType.Link"
            Color="ButtonColor.Primary"
            To="/application-form#">
        Подать заявку на участие
    </Button>
    <div class="block-content">
        <div class="block-content-photo" style="background-image: url('img/Send.jpg');"></div>
    </div>
</div>

@code {

}
