<div class="block">
    <div class="block-title">
        <div class="block-title-text">
            Для голосующих
        </div>
    </div>
    <div class="block-content">
        <div class="block-content-text">
            <p>Для участия в голосовании необходимо выбрать категорию, участника и нажать кнопку «Проголосовать».</p>
            <p>В отношении каждого участника конкурса можно проголосовать единожды по балльной шкале от 1 до 10 (10 – это наивысший балл).</p>
        </div>
    </div>
    <Button Type="ButtonType.Link"
            Color="ButtonColor.Primary"
            To="/voting#">
        К голосованию
    </Button>
    <div class="block-content">
        <div class="block-content-photo" style="background-image: url('img/Vote.jpg');"></div>
    </div>
</div>