<div class="block">
    <div class="block-title">
        <div class="block-title-text">
            Для голосующих
        </div>
    </div>
    <div class="block-content">
        <div class="block-content-text">
            <p>Для участия в голосовании необходимо выбрать категорию, участника и нажать кнопку «Проголосовать».</p>
            <p>Голосовать можно за одного участника <strong>в каждой из категорий</strong>.</p>
        </div>
    </div>
    <Button Type="ButtonType.Link"
            Color="ButtonColor.Primary"
            To="/voting#">
        К голосованию
    </Button>
    <div class="block-content">
        <div class="block-content-photo" style="background-image: url('img/Voting.jpg');"></div>
    </div>
</div>