@using ServerApp.Data.Models.VoteModel

@inject IDataService data
@inject NavigationManager navigate

<div class="card-form" type="button" @onclick="async () => await OnClickHandler()">
    <div class="d-flex professor-avatar justify-content-end align-items-start">
        <img src="@cropPhoto" style="height: 100%; width: 100%;" />
        @if (Application is not null && Application.IsVoted)
        {
            <div class="d-flex position-absolute top-0 end-0">
                <Icon Class="m-2" Name="IconName.CheckSquareFill" Color="IconColor.White" Size="IconSize.x3"></Icon>
            </div>
        }
    </div>
    <div class="description">
        <div class="div">@Application!.FullName</div>
        <div class="institution">
            <div class="div2">Учебное заведение:</div>
            <div class="div3">@Application.WorkPlace</div>
        </div>
        <div class="degree">
            <div class="div2">Институт, факультет, кафедра, лаборатория:</div>
            <div class="div3">@Application.Faculty</div>
        </div>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public ApplicationCardModel? Application { get; set; }

    [Parameter, EditorRequired]
    public EventCallback OnClick { get; set; }

    string? cropPhoto;

    protected override async Task OnParametersSetAsync()
    {
        if (Application is not null) cropPhoto = await data.GetCropPhotoAsync(Application.Id);
    }

    async Task OnClickHandler()
    {
        await OnClick.InvokeAsync();
    }
}