@page "/account/manage/personal-data"

@inject IdentityUserAccessor UserAccessor

<PageTitle>Удаление аккаунта</PageTitle>

<h3>Удаление аккаунта</h3>
<StatusMessage />

<p>Ваша учетная запись содержит персональные данные, которые вы нам предоставили. На этой странице вы можете удалить эти данные.</p>
<p>
    <strong>Удаление этих данных приведет к необратимому удалению вашей учетной записи, и восстановить ее будет невозможно.</strong>
</p>
<form action="account/manage/download-personal-data" method="post">
    <AntiforgeryToken />
    <Button Type="ButtonType.Link"
            Color="ButtonColor.Danger"
            To="account/manage/delete-personal-data">
        Удалить
    </Button>
</form>

@code {
    [CascadingParameter]
    private HttpContext HttpContext { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        _ = await UserAccessor.GetRequiredUserAsync(HttpContext);
    }
}
